<footer>
    <div class="footer">
        <div class="f-icons">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div class="f-companyName">
            <a href="">&#169; WanderLust Private Limited</a>
        </div>

        <div class="terms">
            <a href="">Privacy Terms</a>
        </div>
    </div>
</footer>